/*body{
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  background-color: $baby-blue;

} */
.bubbly {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 0.4em 0.4em;
    margin-top: 10%;
    margin-bottom: 10%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    /*transition-delay:5s; attempt to delay nav. to next page whilst bubbly completes its run*/
    z-index: 10;
  }
  .bubbly:focus {
    outline: 0;
  }
  .bubbly:before, .bubbly:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  .bubbly.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  #parent {
    position: relative;
    width: 2em;
    height: 2em;
    /*border: 1px solid rgba(0,0,0,0.1);*/
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
  }
  
  #child {
    position: absolute;
    width: 2em;
    height: 2em;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: -1em;
    /* -child size/2 */
    left: 0em;
    /* parent size/2 - child size/2 */
  }
  
  .ciclegraph {
    position: relative;
    width: 25em;
    height: 25em;
    /*margin: calc(10em / 2 + 0px);*/
    margin-top: 20%;
    /*height of menu*/
    margin-left: 50%;
  }
  
  .ciclegraph:before {
    content: "";
    position: absolute;
    /* top: 0; left: 0;
    /* border: 2px solid teal;*/
    width: calc( 100% - 2px * 2);
    height: calc( 100% - 2px * 2 );
    border-radius: 50%;
  }
  
  .ciclegraph .bubbly {
    position: absolute;
    /*top: 50%; left: 50%;*/
    width: 7em;
    /*size of bubble*/
    height: 7em;
    /*margin: calc( -100px / 2 );*/
    /*background: teal;*/
    border-radius: 50%;
  }
  
  .displayed {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 10em;
    width: auto;
    /*border-radius: 20px;*/
    position: absolute;
    z-index: 2;
  }
  
  main {
    border: 2px solid #000000;
    border-radius: 20px;
    height: 100%;
    width:100%;
    margin-left: auto;
    margin-top: auto;
    position: relative;
  
  }
/**
  .social-icons {
    text-align: center;
    }  
  .social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    }
  .social-icons li a {
    border-bottom: none;
    }
  .social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
  }**/

  .fa {
    position: fixed;
    bottom: 2em;
    right: 2em;
    padding: 0,5em;
    font-size: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    background: #4267B2;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    line-height: 2em;
    
  }
 //* .fa {
    padding: 1em;
    font-size: 3em;
    width: 2em;
    height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: #4267B2;
    color: white;
  } **/